[
    (
        current_id: 1,
        scene_type: (
            type: "Text",
            name: "name21",
            text: "text21",
            next_id: 2,
        ),
    ),
    (
        current_id: 2,
        scene_type: (
            type: "Selector",
            choice01: (
                type: "Choice",
                text: "choice 21 -> 23",
                next_id: 3,
            ),
            choice02: (
                type: "Selector",
                text: "choice 22 -> 24",
                next_id: 4,
            )
        )
    ),
    (
        current_id: 3,
        scene_type: (
            type: "Text",
            name: "name23",
            text: "text23",
            next_id: 4,
        ),
    ),
    (
        current_id: 4,
        scene_type: (
            type: "Text",
            name: "name24",
            text: "text24",
            next_id: 5,
        ),
    ),
    (
        current_id: 5,
        scene_type: (
            type: "Finish",
            text: "finish"
        ),
    ),
]
