[
    (
        image_id: 1,
        chara: "girl01",
        face: "silhouette",
        scale: (1.0, 1.0),
    ),
    (
        image_id: 2,
        chara: "girl02",
        face: "silhouette",
        scale: (0.8, 1.0),
    ),
    (
        image_id: 3,
        chara: "robot01",
        face: "silhouette",
        scale: (0.5, 0.5),
    ),
    (
        image_id: 4,
        chara: "girl01",
        face: "egao",
        scale: (1.0, 1.0),
    ),
    (
        image_id: 5,
        chara: "girl02",
        face: "egao",
        scale: (0.8, 1.0),
    ),
    (
        image_id: 6,
        chara: "robot01",
        face: "egao",
        scale: (0.5, 0.5),
    ),
]
